<h1>Hello, world!(chef style)</h1>
<h2> Platform: <%= node['platform'] %> </h2>
<h2> Hostname: <%= node['hostname'] %> </h2>
<h2> Memory: <%= node['memory']['total'] %> </h2>
<h2> CPU MHz: <%= node['cpu']['0']['mhz'] %> </h2>
